<!DOCTYPE html>
<html>
<head>
<title>上传附件</title>
<link rel=’stylesheet’ href=’../stylesheets/style.css’ />
<script language="javascript" type="text/javascript" src="../javascripts/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
<div style=margin:20px>
	<form name="addcustomerattach" method="post" enctype="multipart/form-data" action="/customer/addcustomerattach?cstmName=<%= cstmName%>">
		<table bgcolor="#EAEAEA">
			<input type="file" name="attach" required="required" >
			<input type="submit" value="上传">
		</table>
	</form>
</div>
</body>
</html>