<!DOCTYPE html>
<html>
<head>
<title>新增客户与供应商</title>
<link rel=’stylesheet’ href=’/stylesheets/style.css’ />
</head>
<body>
<div id="addcustomer">
	<h1>新增客户与供应商</h1>
	<form name="addcustomer" method="post" enctype="multipart/form-data" action="/addcustomer">
          <table bgcolor="#EAEAEA">
         
          <tr>
          	<td>公司名称：</td>
               <td><input type="text" required="required" name="cstmName"></td>
     	</tr>
          <tr>
              <td>公司地址：</td>
              <td><input type="text" required="required" name="cstmAddr"></td>
     	</tr>

     		<tr>
     			<td>联系人：</td><td><input type="text" required="required" name="owner1"></td>
     			<td>手机：</td><td><input type="text" required="required" name="cellno1"></td>
     			<td>固话：</td><td><input type="text" name="telno1"></td>
     			<td>邮箱：</td><td><input type="text" name="mail1"></td>
     		</tr>	
     		<tr>
     			<td>联系人：</td><td><input type="text" name="owner2"></td>
     			<td>手机：</td><td><input type="text" name="cellno2"></td>
     			<td>固话：</td><td><input type="text" name="telno2"></td>
     			<td>邮箱：</td><td><input type="text" name="mail2"></td>
     		</tr>	

          <tr>
		<td>公司附件：</td><td><input type="file" name="cstmAttach"></td>
		</tr>
          <tr>
          <td>其他备注：</td><td><input type="text" name="otherinfo"></td>
		</tr>
          <tr><td></td><td><input type="submit" value="确定"></td>
          </tr>
     </table>
	</form>
</div>	
</body>
</html>