<!DOCTYPE html>
<html>
<head>
<title>新增销售合同</title>
<link rel=’stylesheet’ href=’/stylesheets/style.css’ />
<script language="javascript" type="text/javascript" src="javascripts/My97DatePicker/WdatePicker.js"></script>
<script language="javascript" type="text/javascript" src="javascripts/jquery-3.5.1.min.js"></script>
<script language="javascript" type="text/javascript" src="javascripts/selectsearch.js"></script>

</head>
<body>
<div id="addcontract" style=margin:20px>
	<h1>新增销售合同</h1>
	<form name="addcontract" method="post" enctype="multipart/form-data" action="/addcontract">
		<table bgcolor="#EAEAEA">
	     	<tr><td>合同号：</td><td><input type="text" name="ctrctId" required="required" size="40"></td></tr>
			<tr><td>签约对象：</td>
				<td><select name="ctrctOwner">
				<option value="上海怡宣信息技术有限公司">上海怡宣信息技术有限公司</option>
				<option value="安徽怡宣信息技术有限公司">安徽怡宣信息技术有限公司</option>
				<option value="上海中圳信息科技有限公司">上海中圳信息科技有限公司</option>
			</select></td></tr>
			<tr><td>签约客户：</td>
			<td>
				<select name="cstmName">		
				<%
					for(var i in customer){
				%>
					<option value="<%=customer[i].cstmName%>"><%=customer[i].cstmName%></option>
				<%
					}
				%>
			</td>
				<td><input type="button" onclick="location='/customer/addcustomer'" value="新增客户"></td></tr>
			<tr><td>合同金额：</td><td><input type="number" required="required" step="0.01" name="ctrctValue"></td></tr>
			<tr><td>签约时间：</td><td><input id="" name="ctrctTime" required="required" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy/MM/dd',readOnly:true})" /></td></tr>
			<tr><td>终止时间：</td><td><input id="" name="ctrctEndTime" required="required" class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy/MM/dd',readOnly:true})" /></td></tr>
			<tr><td>合同简介：</td><td><input type="text"  name="ctrctBrief"></td></tr>
			<tr><td>合同附件：</td><td><input type="file" name="attach1"></td></tr>
			<tr><td></td><td><input type="submit" value="确定"></td>
				<td><input type="button" onclick="location='/search?flag=1'" value="查询"></td>
			</tr>
		</table >
	</form>

</div>	
</body>
</html>