<!DOCTYPE html>
<html>
<head>
<title>新增客户与供应商</title>
<link rel=’stylesheet’ href=’../stylesheets/style.css’ />
</head>
<body>
<div id="addcustomer">
	<h1>新增客户与供应商</h1>
	<form name="addcustomer" method="post" enctype="multipart/form-data" action="/customer/addcustomer">
          <table bgcolor="#EAEAEA">
         
          <tr>
          	<td>公司名称：</td>
               <td><input type="text" id = "inputCstm" required="required" onkeyup="this.value=this.value.replace(/[, ]/g,'')" onblur="checkName()" name="cstmName"></td>
     	</tr>
          <tr>
              <td>公司地址：</td>
              <td><input type="text" required="required" name="cstmAddr"></td>
     	</tr>

     		<tr>
     			<td>联系人：</td><td><input type="text" required="required" name="owner"></td>
     			<td>手机：</td><td><input type="text" required="required" name="cellno"></td>
     			<td>固话：</td><td><input type="text" name="telno"></td>
     			<td>邮箱：</td><td><input type="text" name="mail"></td>
     		</tr>	
     		
          <tr>
		<td>公司附件：</td><td><input type="file" name="cstmAttach"></td>
		</tr>
          <tr>
          <td>其他备注：</td><td><input type="text" name="otherinfo"></td>
		</tr>
          <tr><td></td><td><input type="submit" value="确定"></td>
          </tr>
     </table>
	</form>
</div>	
</body>
<script language="javascript">
var userTemp = '<%- JSON.stringify(customer) %>'
var user = JSON.parse(userTemp);
function checkName()
{
     var x=document.getElementById("inputCstm").value
     for( i in user){
          if(user[i].cstmName == x)
          {
               alert("the name "+x+" is exist, please change the name");
               document.getElementById("inputCstm").value="";
               document.getElementById("inputCstm").focus();
          }
     }
}


</script>
</html>