<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel=’stylesheet’ href=’/stylesheets/style.css’ />
</head>
<body>
<div style="height:400px;width:700px;margin:100px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">
　　<div style="width:400px;margin:auto;margin-top:50px;">
　　　　<h1>欢迎登录怡宣业务管理系统</h1>
　　　　<form action="/" role="form" method="post">
			<table >
	　　　　　　<tr><td>用户名</td><td><input id="username" type="text" name="username" style="margin: 20px 0px;"></td></tr>
	　　　　　　<tr><td>密  码</td><td><input id="password" type="password" name="password"></td></tr>
	　　　　　　<tr><td></td><td><div style="margin-top:10px;margin-left:20px;">
	　　　　　　　　<input type="submit" value="登 陆">
	　　　　　　</div></td>
				</tr>
			</table>
　　　　</form>
　　</div>
</div>
</body>
</html>